:root {
    --background-color: #FFE8A3;
    --light-color: rgb(255, 255, 255);
    --dark-color: black;
    --link-color: rgb(98, 98, 98);
   }

   body {
    font-family:"Poppins";
    background-color: var(--background-color);
    margin:2em;
    font-size: 16px;
}

img {
    border:1px solid var(--dark-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.nav-bar {
    position: fixed;
    z-index: 9999;
    top:0px;
    width:100%;
    background-color: black;
    margin-left: -2em;
}
.title {
    color:white;
    margin-left: 1em;
}

.box {
    max-width: auto;
    border:1px solid var(--dark-color);
    margin-bottom: 1em;
    margin-top: 1em;
    padding: .5em 1em;
    ;
}
.p {
    margin: auto;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }